* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #257575;
    color: #fff;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h2 {
    width: 80%;
}

header .logo h2 a {
    text-decoration: none;
    color: #fff;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #256565;
    width: 100%;
}

.title a {
    text-decoration: none;
    margin: 10px 20px;
    font-weight: bold;
    color: #fff;
    transition: .2s;
}

.title a:hover {
    opacity: 85%;
}

.conteudo {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo .titulo {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.conteudo .titulo h4 {
    text-transform: uppercase;
    color: #257575;
}

.dashboard {
    width: 80%;
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
}

.dashboard a {
    width: 150px;
    height: 150px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.dashboard a i {
    font-size: 35px;
}

